

header
{
    background : url(images/office1.jpg) 20% 0% no-repeat fixed;
    background-size: 100%;
}

/*https://davidal59.github.io/CVDAE/.imagecircle
{
    border-color: rgb(68, 69, 105) ;
    border-image: none;
    border-radius: 100% 100% 100% 100%;
    border-style: solid;
    border-width: 5px;
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
 } */

img.photo
{
    width: 10%;
    height: 10%;
    /* -moz-border-radius : 150px;
    -webkit-border-radius : 150px; */
    /* border-radius : 150px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1
{
    color: white;
    /*background-color:#2569CB;*/
    text-align: center;
    text-shadow: 2px 2px 2px #000000;
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
    border:rgb(47, 48, 49) 5px;
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
      
}
.dark button
{
    width: 12%; 
    height: 0%; 
    /*font: bold 15px;*/
    /*background : url(images/dark-mode.png);*/
    background: grey;
    /*color: white;*/
    float: right;

}


    
body 
{
    background-color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin: 0;        

}


#formation h2
{
    font-size: 1em;
    text-shadow: 1px 1px 1px #FFFFFF;
}
#XP h2
{
    font-size: 1em;
    text-shadow: 1px 1px 1px #FFFFFF;
}
#comp h2
{
    font-size: 1em;
    text-shadow: 1px 1px 1px #FFFFFF;
}

#CI h2
{
    font-size: 1em;
    text-shadow: 1px 1px 1px #FFFFFF;
}

#comp
{
    padding: 150px 150px 10px 50px;
    margin: -50px 0px -90px 0px;
    clip-path: polygon(0 11%, 100% 25%, 100% 95%,10% 100%);
    background: #bacce9;
}
#formation 
{
    padding: 50px 50px 100px 50px;
    margin: 100px 0px -90px 0px;
    clip-path: polygon(0 11%, 100% 6%, 100% 95%,10% 100%);
    background: #6c9ce9;

}


#XP
{
    padding: 150px 50px 100px 50px;
    margin: 50px 0px -90px 0px;
    clip-path: polygon(0 9%, 500% 31%, 100% 92%,0% 100%);
    background: #a5c0ec;
}

#CI
{
    /* padding: 200px 50px 10px 50px; */
    margin: -150px 0px -90px 0px;
    clip-path: polygon(0 11%, 100% 20%, 200% 95%,0% 100%);
    background: #347bee;
    padding: 400px 0 25px;
    /*display: flex;*/
    justify-content: center;
}
.flip-box-inner
{
    width: calc(100% - 20px);
    margin: 0 10px;
}

.imagesCI
{
    display: flex;
    flex-wrap: wrap;
    

}
.flip-box-front img
{
    background-size: contain;
    height: 300px;
    background-position: center bottom;
}

.flip-box-back div
{
    margin : 0 auto;
    /*writing-mode: vertical-lr;*/
    text-orientation: upright;
}
.flip-box-back p
{
    text-transform: uppercase;
    padding: 5px;
    font-size: 16px;

}
.flip-box-back
{
    color: white;
    transform: rotateY(180deg);
}
.flip-box-front, .flip-box-back
{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    justify-content: left;
}
.flip-box
{
    overflow: hidden;
    background-color: transparent;
    width: 100%;
    max-width: 300px;
    height: 300px;
    /*perspective: 1000px;*/
}
.flip-box-inner
{
    position: relative;
    width: 100%;
    max-width: 300px;
    height: 300px;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}
.flip-box:hover .flip-box-inner
{transform: rotateY(180deg);
}

footer
{

    text-align: center;
    padding: 250px 50px 100px 50px;
    margin: -50px 0px -90px 0px;
    background : url(images/contact.jpg) 100% 0% no-repeat fixed;
    background-position: center bottom;
    background-size: 200%;
}
#contact
{
    margin: -50px 0px -90px 0px;
}

footer h2
{
    font-size: 2em;
    text-shadow: 1px 1px 1px #FFFFFF;
}
.imagefooter
{
    background : url(images/contact.jpg) 100% 0% no-repeat fixed;
    background-size: 300%;


}








    @media screen and (min-device-width:640px)

{
    body 
    {
        background-color: rgb(255, 255, 255);
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        margin: 0;        

    }
    header
{
    background : url(images/office1.jpg) 20% 0% no-repeat fixed;
    background-size: 100%;
}
#comp
{
    padding: 150px 150px 10px 50px;
    margin: -10px 0px -90px 0px;
    clip-path: polygon(0 11%, 100% 25%, 100% 95%,-10% 100%);
    background: #bacce9;
}
#formation 
{
    padding: 50px 50px 100px 50px;
    margin: 90px 0px -90px 0px;
    clip-path: polygon(0 11%, 100% 6%, 100% 95%,10% 100%);
    background: #6c9ce9;

}
#CI
{
    /* padding: 200px 50px 10px 50px; */
    margin: -10px 0px -90px 0px;
    clip-path: polygon(0 11%, 100% 20%, 200% 95%,0% 100%);
    background: #347bee;
    padding: 400px 0 25px;
    /*display: flex;*/
    justify-content: center;
}
footer
{

    text-align: center;
    padding: 250px 50px 100px 50px;
    margin: -50px 0px -90px 0px;
    background : url(images/contact.jpg) 100% 0% no-repeat fixed;
    background-position: center bottom;
    background-size: 100%;
}


}
                        @media screen and (min-device-width:1080px)
                        
                        
                        
                        {
                            body 
                            {
                                background-color: rgb(255, 255, 255);
                                font-family: 'Open Sans', sans-serif;
                                font-size: 24px;
                                margin: 0;        

                            }
                            #comp
                            {
                                padding: 150px 150px 10px 50px;
                                margin: -10px 0px -90px 0px;
                                clip-path: polygon(0 11%, 100% 25%, 100% 95%,-10% 100%);
                                background: #bacce9;
                            }
                            #XP
                            {
                                padding: 150px 50px 100px 50px;
                                margin: 100px 0px 0px 0px;
                                clip-path: polygon(0 10%, 200% 33%, 100% 92%,0% 100%);
                                background: #a5c0ec;
                            }
                            #formation 
                            {
                                padding: 50px 50px 100px 50px;
                                margin: 90px 0px -90px 0px;
                                clip-path: polygon(0 11%, 100% 6%, 100% 80%,5% 100%);
                                background: #6c9ce9;

                            }
                            #CI
                            {
                                margin: -150px 0px -90px 0px;
                                clip-path: polygon(-60% 11%, 100% 60%, 200% 95%,0% 100%);
                                background: #347bee;
                                padding: 400px 0 25px;
                                /*display: flex;*/
                                justify-content: center;
                            }
                            .flip-box-inner
                            {
                                width: calc(100% - 20px);
                                margin: 0 10px;
                            }

                            .imagesCI
                            {
                                display: flex;
                                flex-wrap: wrap;
                                

                            }
                            .flip-box-front img
                            {
                                background-size: contain;
                                height: 200px;
                                background-position: center bottom;
                            }

                            .flip-box-back div
                            {
                                margin : 0 auto;
                                /*writing-mode: vertical-lr;*/
                                text-orientation: upright;
                            }
                            .flip-box-back p
                            {
                                text-transform: uppercase;
                                padding: 2px;
                                font-size: 12px;

                            }
                            .flip-box-back
                            {
                                color: white;
                                transform: rotateY(180deg);
                            }
                            .flip-box-front, .flip-box-back
                            {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                backface-visibility: hidden;
                                justify-content: left;
                            }
                            .flip-box
                            {
                                overflow: hidden;
                                background-color: transparent;
                                width: 100%;
                                max-width: 200px;
                                height: 200px;
                                /*perspective: 1000px;*/
                            }
                            .flip-box-inner
                            {
                                position: relative;
                                width: 100%;
                                max-width: 200px;
                                height: 200px;
                                transition: transform 0.5s;
                                transform-style: preserve-3d;
                            }
                            .flip-box:hover .flip-box-inner
                            {
                                transform: rotateY(180deg);
                            }

                            footer
                            {

                                text-align: center;
                                padding: 250px 50px 100px 50px;
                                margin: -50px 0px -90px 0px;
                                background : url(images/contact.jpg) 100% 0% no-repeat fixed;
                                background-position: center bottom;
                                background-size: 100%;
                            }

                            footer h2
                            {
                                font-size: 2em;
                                text-shadow: 1px 1px 1px #FFFFFF;
                            }
                            .imagefooter
                            {
                                background : url(images/contact.jpg) 100% 0% no-repeat fixed;
                               
                            }

                        }

                        @media screen and (min-device-width:1440px)
                        
                                                
                        {
                            footer
                            {

                                text-align: center;
                                padding: 250px 50px 100px 50px;
                                margin: -50px 0px -90px 0px;
                                background : url(images/contact.jpg) 100% 0% no-repeat fixed;
                                background-position: center bottom;
                                background-size: 50%;
                            }
                            .imagefooter
                            {
                                background : url(images/contact.jpg) 100% 0% no-repeat fixed;
                               
                            }
                        }




                    